<?xml version="1.0"?>
<configuration>        
  <configSections>
    <section name="oauth.net.consumer" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AspNetDating.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="urlRewriting">
      <section name="rewriteRules" type="AspNetDating.Classes.UrlRewrite, AspNetDating"/>
    </sectionGroup>
  </configSections>
  <oauth.net.consumer>
    <!-- Components -->
    <components>
      <!-- Signing provider for HMAC-SHA1 -->
      <component id="signing.provider:HMAC-SHA1" service="OAuth.Net.Common.ISigningProvider, OAuth.Net.Common" type="OAuth.Net.Components.HmacSha1SigningProvider, OAuth.Net.Components" lifestyle="thread"/>
      <!-- Nonce provider -->
      <component id="nonce.provider" service="OAuth.Net.Common.INonceProvider, OAuth.Net.Common" type="OAuth.Net.Components.GuidNonceProvider, OAuth.Net.Components"/>
    </components>
  </oauth.net.consumer>
  <appSettings>
    <add key="PayflowTestServer" value="true"/>
    <add key="PAYFLOW_HOST" value="pilot-payflowpro.verisign.com/transaction"/>
    <add key="CERT_OVERRIDE" value="ON"/>
    <add key="PayflowPartner" value="PayPal"/>
    <add key="PayflowUser" value="estreamtest"/>
    <add key="PayflowVendor" value="estreamtest"/>
    <add key="PayflowPassword" value="321pass"/>
    <add key="PayflowCurrency" value="USD"/>
    <add key="ChartImageHandler" value="storage=inprocess;timeout=20;"/>
    <!-- CCBill Settings -->
    <add key="CCBillDataLinkUrl" value="https://datalink.ccbill.com/data/main.cgi?startTime={0}&amp;endTime={1}&amp;transactionTypes=NEW,REBILL,REFUND,EXPIRE,CHARGEBACK,VOID&amp;clientAccnum=946037&amp;username=unonaVEL&amp;password=226958lya&amp;testMode=1"/>
    <add key="CCBillAccountNumber" value="946037"/>
    <add key="CCBillSubaccount" value="0000"/>
    <add key="CCBillFormname" value="148cc"/>
    <add key="CCBillAllowedTypes" value="0000015056:840,0000007349:840,0000003726:840"/>
    <add key="CCBillSubscriptionType" value="0000015056:840"/>
    <add key="CCBillAllowedTypesCredits" value="0000015056:840,0000007349:840,0000003726:840"/>
    <add key="CCBillSubscriptionTypeCredits" value="0000003726:124"/>
    <add key="CCBillCurrencyCode" value="840"/>
    <add key="CCBillTimeOffset" value="-10"/>
    <add key="AuthSecretKey" value="Your shared secret key goes here!"/>
  </appSettings>
  <connectionStrings>
    <add name="aspnetdating" connectionString="Data Source=.;Initial Catalog=aspnetdating9;uid=aspnetdating5;pwd=aspnetdating5" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <xhtmlConformance mode="Transitional"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="Off" defaultRedirect="Error.aspx"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="20"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
    <trace enabled="false" pageOutput="true" requestLimit="200" traceMode="SortByTime"/>
    <pages theme="Default" enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type=" System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpRuntime executionTimeout="240" maxRequestLength="102400" requestValidationMode="2.0"/>
    <webParts>
      <personalization defaultProvider="CustomPersonalizationProvider">
        <providers>
          <clear/>
          <add name="CustomPersonalizationProvider" type="AspNetDating.Classes.CustomPersonalizationProvider, AspNetDating"/>
        </providers>
      </personalization>
    </webParts>
    <trust level="Full"/>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10"/>
    </connectionManagement>
    <mailSettings>
      <smtp from="noreply@yoursite.com">
        <network host="localhost" port="25" userName="" password="" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <applicationSettings>
    <AspNetDating.Properties.Settings>
      <setting name="AdminPermissions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdminReadOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PayflowTestServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PAYFLOW_HOST" serializeAs="String">
        <value>pilot-payflowpro.verisign.com/transaction</value>
      </setting>
      <setting name="CERT_OVERRIDE" serializeAs="String">
        <value>ON</value>
      </setting>
      <setting name="PayflowPartner" serializeAs="String">
        <value>PayPal</value>
      </setting>
      <setting name="PayflowCurrency" serializeAs="String">
        <value>USD</value>
      </setting>
      <setting name="AuthorizeNetTest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmsCheckUrl" serializeAs="String">
        <value>http://www.yoursmsgateway.com/?code={0}</value>
      </setting>
      <setting name="EmailBodyEncoding" serializeAs="String">
        <value>utf-8</value>
      </setting>
      <setting name="EmailSubjectEncoding" serializeAs="String">
        <value>utf-8</value>
      </setting>
      <setting name="ForceCountry" serializeAs="String">
        <value />
      </setting>
      <setting name="ForceRegion" serializeAs="String">
        <value />
      </setting>
      <setting name="ForceCity" serializeAs="String">
        <value />
      </setting>
      <setting name="SecretGadgetKey" serializeAs="String">
        <value>TheSecretKeyGoesHere!</value>
      </setting>
      <setting name="BannedCountries" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SN</string>
            <string>NG</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ExecuteTimers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImagesHomeURL" serializeAs="String">
        <value />
      </setting>
      <setting name="PayPalSandBox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoAddWWW" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StorePhotosAsFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PayPalEmail" serializeAs="String">
        <value>paypal@yoursite.com</value>
      </setting>
      <setting name="CheckAlternativePhotoStorage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserImagesDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="DaoPayGatewayIPs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>195.58.177.2</string>
            <string>195.58.177.3</string>
            <string>195.58.177.4</string>
            <string>195.58.177.5</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ImagesCacheDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ImagesCacheURL" serializeAs="String">
        <value />
      </setting>
      <setting name="PaymentProcessors" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>PayPal</string>
            <string>CCBill</string>
            <string>Check</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TwitterConsumerKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitterConsumerSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultCountry" serializeAs="String">
        <value />
      </setting>
      <setting name="PayflowUser" serializeAs="String">
        <value />
      </setting>
      <setting name="PayflowVendor" serializeAs="String">
        <value />
      </setting>
      <setting name="PayflowPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthorizeNetLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthorizeNetTranKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Facebook_Secret_Key" serializeAs="String">
        <value />
      </setting>
      <setting name="MySpace_Key" serializeAs="String">
        <value />
      </setting>
      <setting name="AlertPayEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="AlertPayCode" serializeAs="String">
        <value />
      </setting>
      <setting name="DaoPayApplicationCode" serializeAs="String">
        <value />
      </setting>
      <setting name="CCBillSecretKey" serializeAs="String">
        <value />
      </setting>
      <setting name="GetCountriesFromExternalService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CountriesServiceURL" serializeAs="String">
        <value />
      </setting>
      <setting name="HomeURL" serializeAs="String">
        <value>http://localhost/AspNetDating9</value>
      </setting>
      <setting name="Facebook_API_Key" serializeAs="String">
        <value>1505229719747199</value>
      </setting>
      <setting name="MySpace_Secret" serializeAs="String">
        <value />
      </setting>
      <setting name="ChatHomeURL" serializeAs="String">
        <value />
      </setting>
    </AspNetDating.Properties.Settings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000"/>
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
  <urlRewriting>
    <rewriteRules>
      <rule>
        <url>showuser_uid_(.*)_bpid_(\d*)\.aspx</url>
        <rewrite>showuser.aspx?uid=$1&amp;bpid=$2</rewrite>
      </rule>
      <rule>
        <url>showuser_uid_(.*)\.aspx</url>
        <rewrite>showuser.aspx?uid=$1</rewrite>
      </rule>
      <rule>
        <url>showuserphotos_uid_(.*)\.aspx</url>
        <rewrite>showuserphotos.aspx?uid=$1</rewrite>
      </rule>
      <rule>
        <url>showuserblog_uid_(.*)_bpid_(\d*)\.aspx</url>
        <rewrite>showuserblog.aspx?uid=$1&amp;bpid=$2</rewrite>
      </rule>
      <rule>
        <url>showuserblog_uid_(.*)\.aspx</url>
        <rewrite>showuserblog.aspx?uid=$1</rewrite>
      </rule>
      <rule>
        <url>showuserevents_uid_(.*)\.aspx</url>
        <rewrite>showuserevents.aspx?uid=$1</rewrite>
      </rule>
      <rule>
        <url>contentpage_id_([^_]*)\.aspx</url>
        <rewrite>contentpage.aspx?id=$1</rewrite>
      </rule>
      <rule>
        <url>showgroup_id_(\d*)\.aspx</url>
        <rewrite>showgroup.aspx?id=$1</rewrite>
      </rule>
      <rule>
        <url>showgroup_id_(\d*)_show_(.*)\.aspx</url>
        <rewrite>showgroup.aspx?id=$1&amp;show=$2</rewrite>
      </rule>
      <rule>
        <url>showgrouptopics_gid_(\d*)\.aspx</url>
        <rewrite>showgrouptopics.aspx?gid=$1</rewrite>
      </rule>
      <rule>
        <url>showgrouptopics_gid_(\d*)_tid_(.*)\.aspx</url>
        <rewrite>showgrouptopics.aspx?gid=$1&amp;tid=$2</rewrite>
      </rule>
      <rule>
        <url>showgroupphotos_gid_(\d*)\.aspx</url>
        <rewrite>showgroupphotos.aspx?gid=$1</rewrite>
      </rule>
      <rule>
        <url>showgroupevents_gid_(\d*)\.aspx</url>
        <rewrite>showgroupevents.aspx?gid=$1</rewrite>
      </rule>
      <rule>
        <url>showgroupevents_gid_(\d*)_eid_(.*)\.aspx</url>
        <rewrite>showgroupevents.aspx?gid=$1&amp;eid=$2</rewrite>
      </rule>
    </rewriteRules>
  </urlRewriting>
</configuration>