.showuser, .showuserphotos, .showuserblog, .showusererror, .reportuserabuse, .showuserevents{
	background:#fff url(BodyBgr.jpg) no-repeat bottom right fixed !important; /* EDITABLE(Page background) */
}
.skincolor, .skincolorlabel{
color:#fff !important; /* EDITABLE(Text color) */
}
.skinlinkcolor {
color:#01e842 !important; /* EDITABLE(Link color) */
}
.skinactionlinkcolor{
color:#01e842 !important; /* EDITABLE(Left Menu Link color) */
}
.skinnavlinkcolor{
color:#01e842 !important;/* EDITABLE(Header and Footer Link color) */
}
.SkinSubheaderLinkColor{
color:#c70e13 !important;/* EDITABLE(Subheader Link color) */
}
.skinfooterlinkcolor, .skinheaderlinkcolor{}
.SkinInfoText{
color:#ccc !important; /* EDITABLE(Info Text color) */
}
.SkinHeaderLineColor{
color:#ccc !important; /* EDITABLE(HeaderLine color) */
}
.FooterColor{
color:#333 !important; /* EDITABLE(Footer color) */
}
.SubheaderColor{
color:#333 !important; /* EDITABLE(Subheader color) */
}

#layout{}
#nav ul{ background:url(BlackBgr.png); border:1px solid #000; border-top:0px}
/* Left Content */
.SideMenuBox{
	background:url(BlackBgr.png) !important;
	border:1px solid #000 !important;
}
.SideMenuBoxTop {
	background:url(BlackBgr.png) !important;	
}
.SideMenuBoxHeader {
	color: #868686 !important;	
	background:url(LeftSeparator.png) no-repeat bottom !important;	
}
.SideMenuBoxContent{
	background:transparent !important
}
/* End Left Content */

/* Right Content */
.StandardBox, .StandardBoxX{
	border:1px solid #000!important;
	background:url(BlackBgr.png) !important;
}
.StandardBoxTop {
	text-align:left !important;
	background:url(BlackBgr.png) !important;
}
.StandardBoxHeader {
	color: #868686 !important;
	background:url(RightSeparator.png) no-repeat bottom !important;	
}
.SectionHeading{
	background:url(RightSeparator.png) no-repeat bottom !important;
}
.line{
	background:url(RightSeparator.png) no-repeat !important;
}
/* End Right Content */
.SideMenuBoxContent .active, .SideMenuLink{
	background:url(LeftSeparator.png) no-repeat bottom !important;
}
.photoframe{
	border:1px solid #fff !important;
	padding:1px !important;
}
.viewphotos img{
	border:1px solid #fff !important;	
	padding:1px !important;
}
.modes{
	background:url(RightSeparator.png) no-repeat bottom !important;
}