body
{
	margin: 0;
	padding:0 10px;
	height:100%;
	font-size:14px;
	font-family: Verdana, arial, sans-serif;
	background:#e6e9f0 url(HeaderBgr.jpg) repeat-x top;	
	line-height:20px;

}
.PaddingWrap{
	padding:0 0px
}
.searchtable{
	padding:0 10px	
}
span img{
	vertical-align: sub
}
a{
	font-weight:normal;
	text-transform:uppercase;
	color:#F60
}
a:hover{
}
#header
{
    text-align: center;
	padding:5px 0 5px 0;
	height:40px;
	background:url(HeaderBgr.jpg) repeat-x bottom;
}
h1{
	font-size:14px;
    text-align: center;
	padding:5px 0 5px 0;
	margin:0;
}
h3{
	padding:10px 0 0px 0;
	margin:0;
	font-weight:bold;
	font-size:13px;

}
.TopicHeader{
	color:#244a89;
	font-weight:bold;
	padding:10px 0 0 0
}
.Reply{
	color:#555
}
.HeaderNav{
	margin:0;
	padding:5px 0 0 0;
	list-style:none;
	text-align:center
}
.HeaderNav li{
	display:inline;
}
.HeaderNav li a{
	padding:0 5px
}
.ContentWrap{
	padding:5px;
}
.LoginBox{
	padding:0px 0;
}
.StealthMode{
	text-align:center;
	margin:0 auto;
	display:block	
}
.LoginBtn{
	text-align:center;
	margin:0 auto;
	padding:5px;
	display:block;
	font-size:16px;
	width:50%	
}
.RegisterText{
	padding:5px;
	text-align:center;
}
.RegisterText a{
	clear:both;
	padding:5px 0 0 0;
	display:block
}
.TextField{
  padding:8px 5px !important;
  border: 1px solid #999;
  width:95%;
}
select, .SmallTextField{
  padding:8px 5px !important;
  border: 1px solid #999;	
}
.dropdownlist, .DropDownList, .titletextbox, .multilinetextbox{
  padding:8px 5px !important;
  border: 1px solid #999;
  width:96%;
  margin:0 0 4px 0;  
}
.charcount{
  padding:8px 5px !important;
  border: 1px solid #999;
}
.ImgBorder, .photoframe, #imgPhoto {
	border:2px solid #d4d6d9
}
#footer{
	clear:both;
	height:0px;
	line-height:0px;
	font-size:0px;
}
.FooterLinks{
	text-align:center;
	line-height:26px;
}
.FooterLinks a{
	padding:0 10px;
}
.SeparatorLine{
	clear:both;
	height:1px;
	line-height:1px;
	font-size:1px;
	background:#fff;
	border-top:1px solid #b2bccd	
}
.Separator{
	clear:both;
	height:10px;
	line-height:10px;
	font-size:10px;
}
.Clear{
	clear:both;
	height:0px;
	line-height:0px;
	font-size:0px;
	width:100%;
}
.Left{
	float:left
}
.InfoUlWrap{
	margin:0;
	padding:0;
	list-style:none;
}
.InfoUlWrap li{
	margin:0;
	padding:0 0px 10px 0px;
}
.logout{
	padding:5px 0 0 0;
}
.TableWrap td{
	padding:5px 5px 5px 5px;
}

.Paginator{
	padding:10px 5px 10px 5px;
	text-align:center;
	color:#555;
	margin:0 auto;
}
.Paginator .First{
	width:50px;
	float:left;
	height:30px;
	text-align:left !important;
}
.Paginator .Prev{
	width:30px;
	float:left;
	height:30px;
	text-align:left !important;	
}
.Paginator .Next{
	width:30px;
	float:right;
	height:30px;
	text-align:right !important;
}
.Paginator .Last{
	width:50px;
	float:right;
	height:30px;
	text-align:right !important;
}
